.services_container {
  min-height: 100vh;
  padding: 4rem;
}

.services_menu_swiper {
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* background-color: blue; */
}

.services_slider {
  /* padding: 0.85rem !important; */
  /* background-color: red; */
  width: fit-content !important;
  margin-bottom: 2rem;
}

.service_menu_btn {
  font-size: 0.85rem;
  text-transform: capitalize;
  /* background-color: red; */
  padding: 6px 1rem;
  border-radius: 6px;
  border: 2px solid #114b5f;
  color: #114b5f;
  opacity: 0.5;
}

/* Service Styling */

.service_item {
  display: flex;
  align-items: center;
  gap: 3rem;
  /* margin: 12rem 0; */
}

.service_collage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  /* margin-top: 4rem; */
  flex: 1;
  position: relative;
}

.image_placeholder {
  width: 100%;
  /* height: 12rem; */
  aspect-ratio: 1/1;
  /* background-color: red; */
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 300ms ease;
  box-shadow: 2px 2px 4px rgba(68, 68, 68, 0.385);
}

.image_placeholder img {
  transition: all 300ms ease;
  cursor: url("/public/pointer.png") 12 12, auto;
  scale: 2;
}

.service_details {
  flex: 1;
}

.service_icon {
  position: absolute;
  z-index: 2;
  background-color: #f5f5f5;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service_icon img {
  width: 70%;
}

.image_placeholder:hover img {
  scale: 2.2;
  rotate: 5deg;
}

.service_title {
  font-weight: 600;
  font-size: 1.4rem;
}

.quality_tag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.quality_tag span {
  color: rgb(162, 162, 162);
  font-size: 0.85rem;
  text-transform: uppercase;
}

.quality_tag img {
  width: 25px;
  height: 25px;
}

.service_cta_btn {
  background-color: #45ce38;
  color: #fff;
  margin-top: 1rem;
  padding: 8px 1.5rem;
  border-radius: 8px;
}

.closure_dna_show_advertising {
  padding: 12rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.closure_dna_show_advertising h2 {
  font-size: 3rem;
  font-weight: 600;
}

.closure_dna_show_advertising p {
  font-size: 0.85remrem;
  font-weight: 300;
  margin-bottom: 2rem;
}

@media (max-width: 1175px) {
  .services_container {
    padding: 2rem;
  }
}

@media (max-width: 1110px) {
  .services_container {
    padding: 1rem;
  }
}

@media (max-width: 670px) {
  .service_item {
    flex-direction: column-reverse;
  }
}
