.cta_container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.cta_container button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.cta_wa {
  /* background-color: red; */
  background-color: #45ce38;
  padding: 6px 1rem;
  border-radius: 12px;
  /* color: #45ce38; */
  color: #fff;
  border: 2px solid #45ce38;
}

.cta_services {
  /* background-color: #45ce38; */
  padding: 8px 1rem;
  /* border-radius: 12px; */
  color: rgb(0, 13, 255);
  /* border: 2px solid #45ce38; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta_container button img {
  --img_size: 26px;
  max-width: var(--img_size);
  min-width: var(--img_size);
  width: 100%;
}
